<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.teksme.model.teks.TeksPackage"
            genModel="resources/model/teks.genmodel"
            uri="http://teksme.org/meta/1.0.0/teks">
      </package>
   </extension>

</plugin>
