body {
	margin: 0;
	padding: 0;
	font-family: arial, verdana, sans-serif;
	font-size: small;
	color: #000
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,label,img {
	margin: 0;
	border: 0;
	padding: 0
}

#container {
	padding: 1em;
	min-width: 800px;
	font-size: 92.8%
}

input,select {
	font-family: arial, verdana, sans-serif
}

.admin_lefthandside {
	list-style-type: none;
	padding: 0 10px 0 0
}


.admin_bread_crumb td {
	font-size: 125%;
	font-weight: bold;
	padding: 0 5px 0 0
}

.entity_table {
	width: 100%
}

.re-box {
	margin-top: 1em;
	width: 185px;
	display: none
}

.re-box-header {
	height: 22px;
	background-color: #f0f7fd;
	color: #333;
	font-weight: bold;
	border: 1px solid #d5eaf7;
	padding: 8px 0 0 8px
}

.re-box-body {
	padding: 8px;
	border: 1px solid #d5eaf7
}

.re-title {
	color: #333;
	font-weight: bold;
	margin-left: 0
}

.re-img {
	padding: 4px 4px 0 0;
	border: 0;
	float: left
}

.re-desc {
	padding: 4px 0 0 0
}

.error_box {
	background: #ffe6e6;
	text-align: left;
	padding: 4px;
	border: 1px;
	border-color: #bdbdbd;
	border-style: solid;
	opacity: .85;
	filter: alpha(opacity =                 85)
}

.error_box_img {
	cursor: pointer;
	background: url("../images/gami/close.gif") no-repeat right center;
	height: 10px;
	width: 10px
}

.logo_img {
	position: absolute;
	height: 83px;
	width: 188px;
	cursor: pointer;
	background: transparent url("../img/teks-temp.gif") no-repeat;
}

#footer {
	float: left;
	padding: .5em 0;
	width: 100%
}

div#global_footer_nav {
	margin: .5em 0 0;
	border-top: 1px dotted #b5b5b5;
	padding: 1em 0 0
}

div#global_footer_nav {
	text-align: center
}

#global_footer_nav span {
	margin: 0 3px;
	padding: 0 5px 0 1px;
	border: #666 solid;
	border-width: 0 1px 0 0
}

#global_footer_nav span a {
	margin: 0 5px 0 0
}

#global_footer_nav span.last {
	border: none
}

#global_footer_nav li.first {
	padding: 0 5px 0 0
}